.bg-ungu {
    background: #d9bcf5;
}

.link-nav-02 {
    color: black;
    font-size: 14px;
}

.link-nav-02:hover, .link-nav-02:focus, .link-nav-02:visited {
    color: black;
}

.link-nav-02.active {
    font-weight: bold;
}

.float-select2 .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    line-height: 4 !important;
}


.float-select2  span.select2-selection.select2-selection--single  {
    height: calc(3.5rem + 2px);
}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 18px;
    line-height: 41px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
}

@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}

.widget-merah{
    background: #fe5969;
}


.widget-hijau{
    background:#59fe9b;
}

.widget-biru{
    background: #59d8fe;
}

.count-widget {
    font-size: 60px;
    font-weight: bold;
}

.icon-widget {
    font-size: 60px;
}

a.btn.btn-widget-merah {
    background: #dd0015;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
}

a.btn.btn-widget-merah:hover, a.btn.btn-widget-merah:focus {
    background: #ff0019;
    outline: none;
    box-shadow: none;
}

a.btn.btn-widget-hijau {
    background: #0ddf61;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
}

a.btn.btn-widget-hijau:hover, a.btn.btn-widget-hijau:focus {
    background: #08c554;
    outline: none;
    box-shadow: none;
}

a.btn.btn-widget-biru {
    background: #00aadd;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
}

a.btn.btn-widget-biru:hover, a.btn.btn-widget-biru:focus {
    background: #00b4dd;
    outline: none;
    box-shadow: none;
}
